@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
/* Reset CSS */
@import "../bootstrap/css/bootstrap.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style: none;
}

/* Button Components */
.button-primary,
.button-secondary,
.button-tertiary {
  display: inline-block;
  padding: 15px 35px;
  color: #0C0C0D;
  text-decoration: none;
  border: none;
  border-radius: 29px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.button-primary {
  background-color: #5DE8C1;
}

.button-secondary {
  background-color: #FFFFFF;
}

.button-tertiary {
  background-color: #2C2C2B;
  color: #FFFFFF;
  padding: 8px 24px;
  border-radius: 24px;
}

/* Fontsize-Styles */
h1 {
  font-size: 120px;
}
@media (max-width: 450px) {
  h1 {
    font-size: 65px;
  }
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 42px;
  margin-bottom: 20px;
}

.h3dark {
  color: #FFFFFF;
}

h5 {
  font-size: 26px;
  margin-bottom: 20px;
}

.p1 {
  font-size: 18px;
  color: #565565;
  margin-bottom: 40px;
}

.p1dark {
  color: #FFFFFF;
}

.p2 {
  font-size: 16px;
  color: #565565;
}

.span-yellow {
  color: #FFCC78;
}

.span-red {
  color: #F4877A;
}

header {
  background-color: black;
  color: white;
}

.white-link {
  color: #ffffff;
}
.white-link:hover {
  color: #5DE8C1;
}

.login a {
  background-color: #5DE8C1;
}

.login a {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

/* Hero Page */
.h1-style {
  font-size: 80px;
  font-weight: bold;
}
@media (max-width: 450px) {
  .h1-style {
    font-size: 65px;
  }
}

.center-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 60px 10px 20px 10px;
}

.center-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 40px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 40px;
  gap: 10%;
}

/* Footer */
.footer-parent {
  padding: 1rem;
  background-color: #FFCC78;
}

.footer-child {
  padding: 1rem;
}

.footer-child,
p {
  margin-bottom: 24px;
}

.footer-child,
li {
  margin-bottom: 16px;
}

/* Footer Grid improvment */
.grid-container-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-template-areas: "item-1 item-1 item-1 item-1" "item-2 item-3 item-4 item-5";
}

.item-f-1 {
  grid-area: item-1;
}

.item-f-2 {
  grid-area: item-2;
}

.item-f-3 {
  grid-area: item-3;
}

.item-f-4 {
  grid-area: item-4;
}

.item-f-5 {
  grid-area: item-5;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .grid-container-footer {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "item-1 item-1" "item-2 item-3" "item-4 item-5";
  }
}
@media screen and (max-width: 468px) {
  .grid-container-footer {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
  }
}
/* Home Content flexbox */
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 10%;
  padding: 25px;
}

.box-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding-bottom: 20px;
  margin: 1rem;
}

.image-content {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.image-content > img {
  width: 100%;
  height: auto;
}

@media (max-width: 450px) {
  .image-content {
    width: 350px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .resize {
    width: 300px;
  }
  .imgage-content > img {
    width: 300px;
  }
}
.feature-black {
  background-color: #0C0C0D;
}

/* Title card section */
.title-father,
.title-son {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.title-son {
  justify-content: center;
}

.section3 {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}
.section3-child {
  width: 570px;
  height: 200px;
}

/* Home Content Card */
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
}

.card-row2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.card {
  max-width: 370px;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  border: 1px solid #D4D4E2;
}

.card2 {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  max-width: 370px;
  padding: 20px;
  margin: 10px;
  border-radius: 12px;
  border: 1px solid #D4D4E2;
}

.card2 > img {
  padding: 20px;
}

.card > * {
  margin-bottom: 16px;
}

/* About Grid improvment */
.grid-container-about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas: "item-1 item-2" "item-3 item-4";
}

.item-about-1 {
  grid-area: item-1;
}

.item-about-2 {
  grid-area: item-2;
}

.item-about-3 {
  grid-area: item-3;
}

.item-about-4 {
  grid-area: item-4;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .grid-container-about {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-4" "item-3";
  }
}
/* Coach */
.card-coach {
  max-width: 370px;
  padding: 20px;
  margin: 10px 10px 10px 0px;
  border-radius: 12px;
  border: 1px solid gray;
}
.card-coach .title-price {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.card-coach .title-price p {
  margin-bottom: 8px;
  margin-right: 8px;
}
.card-coach .title-price h4 {
  font-size: 18px;
  margin: 0;
}

.card-row-coach {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.stars {
  display: flex;
}
.stars > * {
  padding: 0px 8px 8px 0px;
  margin: 0px;
}

/* Form */
.form-parent-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

.form-child-box {
  width: 100%;
}

.form-child-box-button {
  display: flex;
  justify-content: center;
  margin-left: 1vw;
  margin-bottom: 1vw;
}

label {
  font-weight: bold;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button:hover {
  background-color: #11ae81;
}

/* Contact Grid improvment */
.grid-container-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-areas: "item-1 item-2" "item-3 item-4" "item-5 item-6" "item-7 item-7";
}

.item-contact-1 {
  grid-area: item-1;
}

.item-contact-2 {
  grid-area: item-2;
}

.item-contact-3 {
  grid-area: item-3;
}

.item-contact-4 {
  grid-area: item-4;
}

.item-contact-5 {
  grid-area: item-5;
}

.item-contact-6 {
  grid-area: item-6;
}

.item-contact-7 {
  grid-area: item-7;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .grid-container-contact {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5" "item-6" "item-7";
  }
}
/* Services Grid improvment */
.box-content-g {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  margin: 1rem;
}

.grid-container-s {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-template-areas: "item-1 item-2" "item-3 item-4" "item-5 item-6";
}

.item-1 {
  grid-area: item-1;
}

.item-2 {
  grid-area: item-2;
}

.item-3 {
  grid-area: item-3;
}

.item-4 {
  grid-area: item-4;
}

.item-5 {
  grid-area: item-5;
}

.item-6 {
  grid-area: item-6;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .grid-container-s {
    grid-template-columns: 1fr;
    grid-template-areas: "item-1" "item-2" "item-4" "item-3" "item-5" "item-6";
  }
}/*# sourceMappingURL=styles.css.map */