$white: #ffffff;

:root {
    --bs-nav-link-color: #{$white};
}


/* Button Colors */
$primary-color: #5DE8C1;
$secondary-color: #FFFFFF;
$tertiary-color: #2C2C2B;
$tertiary-color-text: #FFFFFF;

/* Button Sizes */
$button-padding: 15px 35px;
$button-radius: 29px;
$button-font-size: 16px;
$button-font-weight: bold;
$button-cursor: pointer;


@mixin flexbox-wrap-j-a-c {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}


@mixin flexbox-j-a-center {

    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}