@import '../var/variables';

/* About Grid improvment */


.grid-container-about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-areas:
        "item-1 item-2"
        "item-3 item-4";
}

.item-about-1 {
    grid-area: item-1;
}

.item-about-2 {
    grid-area: item-2;
}

.item-about-3 {
    grid-area: item-3;
}

.item-about-4 {
    grid-area: item-4;
}



/* Responsive */
@media screen and (max-width: 768px) {
    .grid-container-about {
        grid-template-columns: 1fr;
        grid-template-areas:
            "item-1"
            "item-2"
            "item-4"
            "item-3";
    }
}