@import '../var/variables';

/* Coach */

.card-coach {
    max-width: 370px;
    padding: 20px;
    margin: 10px 10px 10px 0px;
    border-radius: 12px;
    border: 1px solid gray;

    .title-price {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;

        p {
            margin-bottom: 8px;
            margin-right: 8px;
        }

        h4 {
            font-size: 18px;
            margin: 0;
        }
    }
}

.card-row-coach {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.stars {
    display: flex;

    >* {
        padding: 0px 8px 8px 0px;
        margin: 0px;
    }
}